## files

In [ ]:
#file = open("./02/dog_breeds.txt")
#try:
#    print("hello")
    # LEER ARCHIVO
#finally:
#    file.close()


with open("./02/dog_breeds.txt", "r") as reader:
    print("hello")

In [ ]:
file = open("./02/dog_breeds.txt")
print(type(file))

file = open("./02/dog_breeds.txt", "rb")
print(type(file))

file = open("./02/dog_breeds.txt", "wb")
print(type(file))

In [ ]:
with open("./02/dog_breeds.txt", "r") as reader:
    print(reader.readlines())

In [ ]:
with open("./02/dog_breeds.txt", "r") as reader:
    line = reader.readline()
    while line != '':
        print(line, end='')
        line = reader.readline()

In [ ]:
# basado en el archivo de texto, indicar cuantos terrier hay

terriers_number = 0
with open("./02/dog_breeds.txt", "r") as reader:
    for x in reader.readlines():
        if "Terrier" in x:
            terriers_number = terriers_number + 1

with open("./02/dog_breeds_terrier_number.txt", "w") as writer:
    writer.write(str(terriers_number))

In [ ]:
# basado en el archivo de texto, volver a escribirlo pero ordenado de manera alfabetica en reversa

with open("./02/dog_breeds.txt", "r") as reader, open("./02/dog_breeds_reversed.txt", "w") as writer:
    data = reader.readlines()
    data.sort(reverse=True)
    writer.writelines(data)

with open("./02/dog_breeds_reversed.txt", "a") as writer:
    writer.write("\nSchnauzer")

In [ ]:
!pip install pillow

# with open('./02/jack_russell.png', 'rb') as reader:
#     print(reader.read())

import PIL.Image
from IPython.display import display

image = PIL.Image.open("./02/jack_russell.png")
display(image)
# image.show()

## sql

In [ ]:
# ORM

# from xxxx import db

# class User:
#    name = db.String(255)
#    age = db.Integer
#    email = db.String(255)

# User.query.filter(age > 18).all().order_by("name").desc().limit(10)

# user = User(name="A", age=20, email"xx@xx.com")
# db.session.add(user)
# db.session.commit()

In [ ]:
!pip install sqlalchemy

In [ ]:
import  sqlalchemy
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory", echo=True)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String


Base = declarative_base()


class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String)
    last_name = Column(String)
    age = Column(Integer)
    def __repr__(self):
        return "<User: {}>".format(self.id)


Base.metadata.create_all(engine)


from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()


user_1 = User(first_name="Cristhian", last_name="Cueva", age=34)
session.add(user_1)
session.commit()

In [ ]:
session.add_all([
    User(first_name="Cristhian", last_name="Cueva", age=32),
    User(first_name="Cristhian", last_name="Cueva", age=33),
    User(first_name="Cristhian", last_name="Cueva", age=31),
])
user_1.first_name = "Genaro"
session.add(user_1)
session.commit()

In [ ]:
# https://www.codementor.io/@sheena/understanding-sqlalchemy-cheat-sheet-du107lawl

for i in session.query(User).order_by(User.age):
    print(i.id, i.age)

for i in session.query(User).filter_by(first_name="Cristhian"):
    print(i.id, i.first_name)

for i in session.query(User).filter(User.first_name.in_(["Cristhian", "Genaro"])):
    print(i.id, i.first_name)

for i in session.query(User).filter(User.first_name.like("%isthia%")):
    print(i.id, i.first_name)

q = session.query(User).order_by(User.age).all()
print(q)

In [ ]:
# persistente en disco

from sqlalchemy import create_engine

engine = create_engine("sqlite:///02/users.db", echo=True)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String


Base = declarative_base()


class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String)
    last_name = Column(String)
    age = Column(Integer)
    def __repr__(self):
        return "<User: {}>".format(self.id)


Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()


user_1 = User(first_name="Cristhian", last_name="Cueva", age=34)
session.add(user_1)
session.commit()

user_2 = User(first_name="Alan", last_name="Garcia", age=60)
session.add(user_2)
session.commit()

In [ ]:
user_1.age = 35
session.add(user_1)
session.commit()

In [ ]:
user_1 = session.query(User).filter_by(id = 1).first()
session.delete(user_1)
session.commit()

In [ ]:
# https://www.sqlite.org/download.html (https://www.sqlite.org/2025/sqlite-tools-win-x64-3500000.zip)
# https://sqlitebrowser.org/dl/

# crear una tabla Student (first_name, last_name, id, document_type, document_number, section, score ...)

# agregar al menos 6 usuarios

# filtrar los Student cuyo document_type sea DNI, cuyo document_number empiece con 7, 
# que pertenezcan a la seccion A, y cuyo score sea menor a 11

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///02/students.db", echo=True)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float


Base = declarative_base()


class Student(Base):
    __tablename__ = "students"
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String)
    last_name = Column(String)
    document_type = Column(String)
    document_number = Column(String)
    section = Column(String)
    score = Column(Float)
    def __repr__(self):
        return "<Student: {}>".format(self.id)


Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()

session.add_all([
    Student(first_name="Cristhian1", last_name="Cueva", document_type="DNI", document_number="712345678", section="A", score=10),
    Student(first_name="Cristhian2", last_name="Cueva", document_type="DNI", document_number="812345678", section="B", score=11),
    Student(first_name="Cristhian3", last_name="Cueva", document_type="DNI", document_number="912345678", section="C", score=12),
    Student(first_name="Cristhian4", last_name="Cueva", document_type="DNI", document_number="012345678", section="D", score=13),
    Student(first_name="Cristhian5", last_name="Cueva", document_type="DNI", document_number="112345678", section="A", score=14),
    Student(first_name="Cristhian6", last_name="Cueva", document_type="DNI", document_number="212345678", section="B", score=15),
])
session.commit()

In [ ]:

# filtrar los Student cuyo document_type sea DNI, cuyo document_number empiece con 7, 
# que pertenezcan a la seccion A, y cuyo score sea menor a 11

session.query(Student).filter(Student.document_type=="DNI", Student.document_number.like("7%"), Student.section == "A", Student.score < 11).all()

## CSV

In [ ]:
import csv

with open('./02/birthday.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=",")
    line_number = 0
    for row in csv_reader:
        if line_number == 0:
            print("headers are {}".format(row))
        else:
            print("{} works in {}, and his birthday is in {}".format(row[0], row[1], row[2]))
        line_number = line_number + 1
    print("lines found: {}".format(line_number))

In [ ]:
import csv

with open('./02/birthday.csv', mode="r") as csv_file:
    csv_reader = csv.DictReader(csv_file)
    line_number = 0
    for row in csv_reader:
        if line_number == 0:
            print("headers are {}".format(row.keys()))
        print("{} works in {}, and his birthday is in {}".format(row["name"], row["department"], row["birthday month"]))
        line_number = line_number + 1

In [ ]:
!pip install pandas

In [ ]:
import pandas

df = pandas.read_csv("./02/hrdata.csv")
print(df)

In [ ]:
df = pandas.read_csv("./02/hrdata.csv", parse_dates=["Hire Date"], names=["Name", "Salary", "Hire Date"])
print(df)
df.to_csv("./02/birthday_new.csv")