## files

In [ ]:
#file = open("./02/dog_breeds.txt")
#try:
#    print("hello")
    # LEER ARCHIVO
#finally:
#    file.close()


with open("./02/dog_breeds.txt", "r") as reader:
    print("hello")

In [ ]:
file = open("./02/dog_breeds.txt")
print(type(file))

file = open("./02/dog_breeds.txt", "rb")
print(type(file))

file = open("./02/dog_breeds.txt", "wb")
print(type(file))

In [ ]:
with open("./02/dog_breeds.txt", "r") as reader:
    print(reader.readlines())

In [ ]:
with open("./02/dog_breeds.txt", "r") as reader:
    line = reader.readline()
    while line != '':
        print(line, end='')
        line = reader.readline()

In [ ]:
# basado en el archivo de texto, indicar cuantos terrier hay

terriers_number = 0
with open("./02/dog_breeds.txt", "r") as reader:
    for x in reader.readlines():
        if "Terrier" in x:
            terriers_number = terriers_number + 1

with open("./02/dog_breeds_terrier_number.txt", "w") as writer:
    writer.write(str(terriers_number))

In [ ]:
# basado en el archivo de texto, volver a escribirlo pero ordenado de manera alfabetica en reversa

with open("./02/dog_breeds.txt", "r") as reader, open("./02/dog_breeds_reversed.txt", "w") as writer:
    data = reader.readlines()
    data.sort(reverse=True)
    writer.writelines(data)

with open("./02/dog_breeds_reversed.txt", "a") as writer:
    writer.write("\nSchnauzer")

In [ ]:
!pip install pillow

# with open('./02/jack_russell.png', 'rb') as reader:
#     print(reader.read())

import PIL.Image
from IPython.display import display

image = PIL.Image.open("./02/jack_russell.png")
display(image)
# image.show()

## sql

In [ ]:
# ORM

# from xxxx import db

# class User:
#    name = db.String(255)
#    age = db.Integer
#    email = db.String(255)

# User.query.filter(age > 18).all().order_by("name").desc().limit(10)

# user = User(name="A", age=20, email"xx@xx.com")
# db.session.add(user)
# db.session.commit()

In [ ]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.2-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.11/site-packages (from sqlalchemy) (4.13.2)
Downloading sqlalchemy-2.0.41-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 11.4 MB/s eta 0:00:00a 0:00:01
Downloading greenlet-3.2.2-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (583 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 583.9/583.9 kB 11.6 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [sqlalchemy]2 [sqlalchemy]
Successfully installed greenlet-3.2.2 sqlalchemy-2.0.41

In [2]:
import  sqlalchemy
sqlalchemy.__version__

'2.0.41'

In [3]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory", echo=True)

In [9]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String


Base = declarative_base()


class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String)
    last_name = Column(String)
    age = Column(Integer)
    def __repr__(self):
        return "<User: {}>".format(self.id)


Base.metadata.create_all(engine)


from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()


user_1 = User(first_name="Cristhian", last_name="Cueva", age=34)
session.add(user_1)
session.commit()

2025-06-03 19:21:04,893 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:21:04,894 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2025-06-03 19:21:04,894 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-06-03 19:21:04,895 INFO sqlalchemy.engine.Engine COMMIT
2025-06-03 19:21:04,897 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:21:04,899 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?)
2025-06-03 19:21:04,899 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ('Cristhian', 'Cueva', 34)
2025-06-03 19:21:04,900 INFO sqlalchemy.engine.Engine COMMIT

/tmp/ipykernel_132329/2176974831.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [13]:
session.add_all([
    User(first_name="Cristhian", last_name="Cueva", age=32),
    User(first_name="Cristhian", last_name="Cueva", age=33),
    User(first_name="Cristhian", last_name="Cueva", age=31),
])
user_1.first_name = "Genaro"
session.add(user_1)
session.commit()

2025-06-03 19:23:14,176 INFO sqlalchemy.engine.Engine UPDATE users SET first_name=? WHERE users.id = ?
2025-06-03 19:23:14,177 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ('Genaro', 1)
2025-06-03 19:23:14,178 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?) RETURNING id
2025-06-03 19:23:14,179 INFO sqlalchemy.engine.Engine [generated in 0.00012s (insertmanyvalues) 1/6 (ordered; batch not supported)] ('Cristhian', 'Cueva', 32)
2025-06-03 19:23:14,180 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?) RETURNING id
2025-06-03 19:23:14,180 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/6 (ordered; batch not supported)] ('Cristhian', 'Cueva', 33)
2025-06-03 19:23:14,181 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?) RETURNING id
2025-06-03 19:23:14,181 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/6 (ordered; batch not supported)] ('Cristhian', 'Cueva', 31)
2025-06-03 19:23:14,182 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?) RETURNING id
2025-06-03 19:23:14,182 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/6 (ordered; batch not supported)] ('Cristhian', 'Cueva', 32)
2025-06-03 19:23:14,183 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?) RETURNING id
2025-06-03 19:23:14,183 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/6 (ordered; batch not supported)] ('Cristhian', 'Cueva', 33)
2025-06-03 19:23:14,183 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?) RETURNING id
2025-06-03 19:23:14,184 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/6 (ordered; batch not supported)] ('Cristhian', 'Cueva', 31)
2025-06-03 19:23:14,185 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# https://www.codementor.io/@sheena/understanding-sqlalchemy-cheat-sheet-du107lawl

for i in session.query(User).order_by(User.age):
    print(i.id, i.age)

for i in session.query(User).filter_by(first_name="Cristhian"):
    print(i.id, i.first_name)

for i in session.query(User).filter(User.first_name.in_(["Cristhian", "Genaro"])):
    print(i.id, i.first_name)

for i in session.query(User).filter(User.first_name.like("%isthia%")):
    print(i.id, i.first_name)

q = session.query(User).order_by(User.age).all()
print(q)

2025-06-03 19:29:15,516 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.age AS users_age
FROM users ORDER BY users.age
2025-06-03 19:29:15,517 INFO sqlalchemy.engine.Engine [cached since 293s ago] ()
4 31
7 31
2 32
5 32
3 33
6 33
1 34
2025-06-03 19:29:15,519 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.age AS users_age
FROM users
WHERE users.first_name = ?
2025-06-03 19:29:15,519 INFO sqlalchemy.engine.Engine [cached since 223.9s ago] ('Cristhian',)
2 Cristhian
3 Cristhian
4 Cristhian
5 Cristhian
6 Cristhian
7 Cristhian
2025-06-03 19:29:15,522 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.age AS users_age
FROM users
WHERE users.first_name IN (?, ?)
2025-06-03 19:29:15,522 INFO sqlalchemy.engine.Engine [cached since 100.2s ago] ('Cristhian', 'Genaro')
1 Genaro
2 Cristhian
3 Cristhian
4 Cristhian
5 Cristhian
6 Cristhian
7 Cristhian
2025-06-03 19:29:15,524 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.age AS users_age
FROM users
WHERE users.first_name LIKE ?
2025-06-03 19:29:15,525 INFO sqlalchemy.engine.Engine [cached since 42.44s ago] ('%isthia%',)
2 Cristhian
3 Cristhian
4 Cristhian
5 Cristhian
6 Cristhian
7 Cristhian
2025-06-03 19:29:15,526 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.age AS users_age
FROM users ORDER BY users.age
2025-06-03 19:29:15,527 INFO sqlalchemy.engine.Engine [cached since 293.1s ago] ()
[<User: 4>, <User: 7>, <User: 2>, <User: 5>, <User: 3>, <User: 6>, <User: 1>]

In [23]:
# persistente en disco

from sqlalchemy import create_engine

engine = create_engine("sqlite:///02/users.db", echo=True)

In [24]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String


Base = declarative_base()


class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String)
    last_name = Column(String)
    age = Column(Integer)
    def __repr__(self):
        return "<User: {}>".format(self.id)


Base.metadata.create_all(engine)

2025-06-03 19:31:17,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:31:17,701 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2025-06-03 19:31:17,702 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-06-03 19:31:17,702 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2025-06-03 19:31:17,703 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-06-03 19:31:17,704 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	first_name VARCHAR,
	last_name VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)


2025-06-03 19:31:17,704 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2025-06-03 19:31:17,710 INFO sqlalchemy.engine.Engine COMMIT

/tmp/ipykernel_132329/3345363984.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [25]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()


user_1 = User(first_name="Cristhian", last_name="Cueva", age=34)
session.add(user_1)
session.commit()

user_2 = User(first_name="Alan", last_name="Garcia", age=60)
session.add(user_2)
session.commit()

2025-06-03 19:32:18,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:32:18,617 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?)
2025-06-03 19:32:18,617 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ('Cristhian', 'Cueva', 34)
2025-06-03 19:32:18,618 INFO sqlalchemy.engine.Engine COMMIT
2025-06-03 19:32:18,625 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:32:18,626 INFO sqlalchemy.engine.Engine INSERT INTO users (first_name, last_name, age) VALUES (?, ?, ?)
2025-06-03 19:32:18,626 INFO sqlalchemy.engine.Engine [cached since 0.009599s ago] ('Alan', 'Garcia', 60)
2025-06-03 19:32:18,627 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
user_1.age = 35
session.add(user_1)
session.commit()

2025-06-03 19:33:49,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:33:49,789 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name
FROM users
WHERE users.id = ?
2025-06-03 19:33:49,789 INFO sqlalchemy.engine.Engine [generated in 0.00053s] (1,)
2025-06-03 19:33:49,791 INFO sqlalchemy.engine.Engine UPDATE users SET age=? WHERE users.id = ?
2025-06-03 19:33:49,794 INFO sqlalchemy.engine.Engine [generated in 0.00275s] (35, 1)
2025-06-03 19:33:49,795 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
user_1 = session.query(User).filter_by(id = 1).first()
session.delete(user_1)
session.commit()

2025-06-03 19:36:58,594 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 19:36:58,595 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.age AS users_age
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?
2025-06-03 19:36:58,596 INFO sqlalchemy.engine.Engine [generated in 0.00049s] (1, 1, 0)
2025-06-03 19:36:58,597 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?
2025-06-03 19:36:58,598 INFO sqlalchemy.engine.Engine [generated in 0.00049s] (1,)
2025-06-03 19:36:58,599 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# https://www.sqlite.org/download.html (https://www.sqlite.org/2025/sqlite-tools-win-x64-3500000.zip)
# https://sqlitebrowser.org/dl/

# crear una tabla Student (first_name, last_name, id, document_type, document_number, section, score ...)

# agregar al menos 6 usuarios

# filtrar los Student cuyo document_type sea DNI, cuyo document_number empiece con 7, 
# que pertenezcan a la seccion A, y cuyo score sea menor a 11