## titanic

In [1]:
import pandas as pd

# train - 70%
# test - 30%

data = pd.read_csv('./04/train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
print(data.shape)
data.describe()

In [ ]:
data.head()

In [ ]:
data['Age'] = data['Age'].fillna(data['Age'].median())
data.info()

In [ ]:
data[data["Survived"]==1]["Sex"].value_counts()

In [ ]:
survived_by_class = data[data["Survived"]==1]["Pclass"].value_counts()
survived_by_class.head()

dead_by_class = data[data["Survived"]==0]["Pclass"].value_counts()
dead_by_class.head()

df_by_class = pd.DataFrame([survived_by_class, dead_by_class])
df_by_class.index = ["Survived", "Died"]
df_by_class.plot(kind="bar", stacked=True, title="Survived/Died by Class")

In [ ]:
survived_by_sex = data[data["Survived"]==1]["Sex"].value_counts()
survived_by_sex.head()

dead_by_sex = data[data["Survived"]==0]["Sex"].value_counts()
dead_by_sex.head()

df_by_sex = pd.DataFrame([survived_by_sex, dead_by_sex])
df_by_sex.index = ["Survived", "Died"]
df_by_sex.plot(kind="bar", stacked=True, title="Survived/Died by Sex")

In [ ]:
women = data.loc[data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

men = data.loc[data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

In [ ]:
survived_by_embarked = data[data["Survived"]==1]["Embarked"].value_counts()
survived_by_embarked.head()

dead_by_embarked = data[data["Survived"]==0]["Embarked"].value_counts()
dead_by_embarked.head()

df_by_class = pd.DataFrame([survived_by_embarked, dead_by_embarked])
df_by_class.index = ["Survived", "Died"]
df_by_class.plot(kind="bar", stacked=True, title="Survived/Died by Embarked")

In [ ]:
survived_by_age = data[data["Survived"]==1]["Age"].value_counts()
survived_by_age.info()

dead_by_age = data[data["Survived"]==0]["Age"].value_counts()
dead_by_age.head()

In [ ]:
data.head()

# Survived => RESULT
# Input => Survived, Sex, Age, PClass, Embarked
# Columns to delete: PassengerId, Cabin, Name, SibSp, Parch, Fare

# 891 values, Age => 88 valores
data['Age'].nunique()
# 891 values, Pclass => 3 valores
data['Pclass'].nunique()
data['Fare'].describe()

# cleaning

In [ ]:
# PassengerId, Cabin, Name, SibSp, Parch, Age
data.drop(labels=['PassengerId', 'Cabin', 'Name', 'SibSp', 'Parch', 'Fare', 'Ticket', 'Age'], inplace=True, axis=1)
data

In [ ]:
data = data.dropna(subset=["Age"])

# Y - X

In [ ]:
Y = data.Survived
X = data.drop(["Survived"], axis=1)

In [ ]:
Y.head()

In [ ]:
X.head()

In [ ]:
!pip install scikit-learn

In [ ]:
# encode "Sex"

from sklearn.preprocessing import LabelEncoder

label_encoder_x = LabelEncoder()
X.Sex = label_encoder_x.fit_transform(X.Sex)
X.head()

In [ ]:
# revisar los Embarked con valor nulo
sum(X.Embarked.isnull())

In [ ]:
row_with_embarked_null = X.Embarked.isnull()
X.loc[row_with_embarked_null, "Embarked"] = "S"

In [ ]:
# encode "Embarked"

from sklearn.preprocessing import LabelEncoder

label_encoder_x = LabelEncoder()
X.Embarked = label_encoder_x.fit_transform(X.Embarked)
X.head()

# model

In [ ]:
# logistic regression for our data

from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(penalty="l2", random_state=0)

# apply k-fold cross validation

from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator = classifier, X=X, y=Y, cv=10)

print("Accuracy:", accuracies.mean())
print("+/-", accuracies.std())

In [ ]:
# rehacer el modelo del titanic, usando lo que ya aprendimos
# Sugerencia
#    Age -> age_range: baby, child, young, adult, old
#    CabinType -> C...
#    ....

# classification_matrix